:root {
    --sidebar-width: max(210px, 15%);
}

.main {
    height: 100vh;
    position: absolute;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
}
.sidebar{
    height: 100%;
    position: fixed;
    width: var(--sidebar-width);
    top:0;
    left:0;
    bottom: 0;
    overflow-x: hidden;
    background-color: #3c95be;
}
.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
    
}
.header {
    height: max(auto, 200px);
    min-height: 200px;
    background-color: #eeeeee;
}
.info {
    background-color: #c8c8c8;
    display: grid;
    grid-template-columns: 4fr 1fr;
    box-shadow:inset 0px 0px 8px 1px black;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    
    gap: 50px 20px;
    justify-content: center;
}
.cardholder{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 10px 350px;
}
.card {
    background-color: #eeeeee;
    height: 250px;
    border-radius: 0 10px 10px 0;
}
.side {
    background-color: #f58f3b;
    height: 250px;
    border-radius: 10px 0 0 10px;
}
.right-bar {
    background-color: blue;
    min-width: 90px;
    height: 100%;
    box-shadow:inset 0px 0px 8px 1px black;
}
img {
    width: 20px;
    float:left;
    margin-right: 10px;
    margin-left: 5px;
}
.sidebar {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start; 
}
.sideline {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideline-gap {
    height: 30px;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
a:hover img {
    width: 25px;
    transition: width 0.3s;
}
a:visited {
    color: black;
}
#searchbar {
    border-radius: 17px;
    border: 1px solid gray;
    min-width: 200px;
    width: 50%;
    min-height: 30px;
    font-size: 25px;
    background-color: #e4f3fa;
}